<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>
  <body>
    <h1>Complete Your Payment</h1>
    <button id="payButton">Pay with Razorpay</button>
    <script>
      var options = {
        key: "<%= process.env.RAZORPAY_KEY_ID %>",
        amount: "<%= amount %>",
        currency: "INR",
        order_id: "<%= orderId %>",

        // below either callback_url is used or handler for to fetch /payment-callback on successfull payment

        callback_url:
          "<%= process.env.BASE_URL %>/payment-callback?userPhone=<%= userPhone %>",
        // handler: function (response) {
        //   console.log(response);
        //   fetch(
        //     "<%= process.env.BASE_URL %>/payment-callback?userPhone=<%= userPhone%>",
        //     {
        //       method: "POST",
        //       headers: {
        //         "Content-Type": "application/json",
        //       },
        //       body: JSON.stringify({
        //         razorpay_payment_id: response.razorpay_payment_id,
        //         razorpay_order_id: response.razorpay_order_id,
        //         razorpay_signature: response.razorpay_signature,
        //       }),
        //     }
        //   )
        //     .then(function (response) {
        //       return response.text();
        //     })
        //     .then(function (text) {
        //       console.log("Request successful:", text);
        //     })
        //     .catch(function (error) {
        //       console.error("Request failed", error);
        //     });
        // },
        prefill: {
          contact: "<%= userPhone %>",
        },
        theme: {
          color: "#3399cc",
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.on("payment.failed", function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.reason);
      });
      document.getElementById("payButton").onclick = function () {
        rzp1.open();
      };
    </script>
  </body>
</html>
